body, html {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
}

.box{
	border: 1px solid white;
}

.topbar{
	height: 70px;
	width: 100%;
	background-color: #142332;
	border-bottom: 5px solid #B78846;
	color: #B78846;
}

.topbar p{
	font-size: 15px;
	line-height: 70px;
	margin-left: 40px
}

.navbar{
	width: 100%;
	background-color: #142332;
	color: white;
	text-align: center;
}

.navbar ul{
	padding: 20px 0px;

}

.navbar ul li{
	display: inline-block;
	height: 108px;
    width: 150px;
    vertical-align: middle;
}

.navbar ul li a{
	color: white;
	text-decoration: none;
	padding: 20px 0px;
	transition: all 0.2s;
	line-height: 108px;
}

.navbar ul li a:hover{
	border-bottom: 3px solid white;
}

.main-logo{
	width: 150px;
	margin: 0px;
}

.jumbotron{
	background-color: #142332;
	color: #B78846;
	box-sizing: border-box;
	padding: 120px 0px;
	padding-bottom: 20px;
	/*border: 1px solid white;*/
}

.jumbo-frame{
	border: 5px solid #B78846;
	width: 90%;
	margin: 0px auto;
}

.jumbo-img{
	float: left;
	width: 30%;
	text-align: center;
	/*border: 1px solid white;*/
	margin-top: -110px;
	margin-left: 10%

}

.text-box{
	max-width: 400px;
	padding: 15px;
	text-align: center;
	background-color: #142332;
	float: left;
	/*border: 1px solid white;*/
	margin-top: -70px;
	margin-left: 12%;
}

.text-box p {
	font-size: 36px;
	color: #B78846;
	/*border: 1px solid white;*/
}

.jumbo-main-image{
	width: 100%;
	/*border: 1px solid white;*/
	background-color: #142332;
}

.btn-gold{
	width: 350px;
	height: 50px;
	background-color: #B78846;
	color: white;
	font-size: 16px;
	line-height: 50px;
	margin: 30px auto;
	font-weight: lighter;
}

.btn-gold:first-child{
	margin-top: 50px;
}

.about{
	height: 500px;
	width: 100%;
	background-image: url('image/about_background.png');
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.about-box{
	text-align: center;
	width: 60%;
	padding-top: 120px;
	padding-left: 80px;
}

p.about-title{
	font-size: 36px;
}

p.about-text{
	font-size: 18px;
	margin-top: 30px;
	line-height: 22px;
}

.about-img{
	height: 450px;
	position: absolute;
	bottom: 5px;
	right: -100px;
}

.ingredient{
	text-align: center;
	padding: 70px 50px;
}

p.section-title{
	font-size: 36px;
	font-weight: bold;
}

p.section-description {
	font-size: 16px;
	margin-top: 10px;
	font-weight: 200;
}



.ingredient-box{
	width: 100%;
	min-height: 550px;
	position: relative;
}

.ingredients-details{
	width: 200px;
	display: inline-block;
}

.food-box{
	display: inline-block;
	position: absolute;
}

.oats-box{
	top: 0;
	left: 0;
}

.oats-img{
	width: 350px;
	margin-left: -100px;
}

.flaxseed-box{
	top: 0;
	right: 0;
}

.flaxseed-img{
	width: 150px;
}

.flaxseed{
	vertical-align: top;
}

.almond-box{
	bottom: 0;
	left: 100px;
}

.almond{
	vertical-align: top;
	margin-top: 200px;
}

.almond-img{
	width: 200px;
	margin-left: -50px;
}

.whey-box{
	top: 30%;
	left: 45%;
}

.whey{
	display: block;
}
.whey-img{
	width: 200px;
	margin-left: 100px;
	margin-top:-40px;
}

.sugar-box {
	bottom: 0;
	right: 0;
}

.sugar-img{
	width: 150px;
}



.ingredient-name{
	font-size: 28px;
}

.ingredient-description{
	font-size: 14px;
	margin-top: 5px;
}

.title-box{
	background-color: #142332;
	padding: 20px;
	display: inline-block;
}

.work{
	background-color: #142332;
	color: white;
	padding: 70px 50px;
	text-align: center;
}

.work-box{
	border: 5px solid #B78846;
	padding: 50px 10px;
	margin-top: -50px;
}

.work-box .step{
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	box-sizing: border-box;
	padding: 0px 10px;
	margin-left: 15px;
}

.step:first-child{
	margin-left: 0px;
}

.step1 img{
	margin-left: 30px;
}

.step2 img{
	margin-left: 40px;
}

.work-box .step img{
	height: 200px;
}

.work-box .step3 img{
	height: 120px;
}

.step-title{
	font-size: 24px;
	margin-top: 10px;
}

.step-description{
	font-size: 16px;
	margin-top: 10px;
}

.work-box .step3 {
	padding-top: 40px;
}

.work-box .step3 .step-title{
	margin-top: 30px;
}

.nutrition-box{
	width: 330px;
	padding: 20px;
	color: #B78846;
	border: 7px solid #B78846;
	display: inline-block;
	vertical-align: top;
}

.nutrition-header{
	border-bottom: 7px solid #B78846;
	padding-bottom: 10px;
}

.nutrition-title{
	font-size: 36px;
	font-weight: bold;
}

.nutrition-description{
	font-size: 18px;
}

.nutrition-description-bold{
	font-weight: bold;
	margin-bottom: 5px
}

.nutrition-fact{
	padding: 5px 0px;
}

.nutrition-subtitle{
	padding: 10px 0px;
	border-bottom: 3px solid #B78846;
}

.nutrition-fact-subtitle{
	text-align: right;
	padding: 0px 0px;
	font-size: 14px;
}

.nutrition-fact p{
	display: inline;
	font-size: 14px;
}

p.nutrition-type{
	font-weight: bold;
}

p.nutrition-value{
	float: right;
}

.nutrition-body{
	padding-bottom: 10px;
	border-bottom: 5px solid #B78846;
}

.nutrition-footer{
	padding-top: 10px;
}

.nutrition-alert{
	font-size: 14px;
	margin-bottom: 8px;
}

.nutrition-subtype{
	margin-left: 20px;
	font-weight: 200 !important;
}

.shaker{
	display: inline-block;
	width: 400px;
	position: relative;
}

.shaker-image{
	height: 420px;
	margin: 0px;
	margin-right: 90px;

}

.macro{
	padding: 50px;
	margin: px auto;
	text-align: center;
}

.macro-box{
	margin-top: 50px
}

.macro-percentage{
	position: absolute;
	text-align: center;
	color: #B78846;
}

.percent-50{
	position: absolute;
	bottom: 200px;
	right: 40px;
}

.percent-30{
	bottom: 105px;
	right: 40px;
}

.percent-20{
	bottom: 33px;
	right: 40px;
}

.macro-percentage-value{
	font-size: 28px;
	font-weight: bold;
}

.macro-food-name{
	font-size: 18px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */