@font-face {
  font-family: 'Brandon';
  src: url('font/Brandon_bld.otf');
  src: url("font/Brandon_bld.otf") format("opentype");
}

.box{
	border: 1px solid white;
}

body, html {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;

}

.popup-background{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	background-color: rgba(0,0,0,0.7);
	display: none;


}

.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}*/



/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.signup-popup, .thank-you {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.signup-popup {
	z-index: 1002;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.thank-you {
	transform: rotateY(180deg);
	text-align: center;
}

.close-btn, .return-btn{
	padding: 20px;
	border: 1px solid  #cb9b57;
	color: #cb9b57;
	display: inline-block;
	border-radius: 5px;
}

.close-btn:hover, .return-btn:hover{
	background-color: #cb9b57;
	color: white;
	cursor: pointer;
}

.flip-container, .signup-popup, .thank-you{

	width: 80%;
	max-width: 500px;
	margin: 50px auto;
}

@media screen and (max-width: 767px){

	#important-background{
		margin: 0px !important;
	}

	.flip-container, .signup-popup, .thank-you{
		width: 90%;
		max-width: 500px;
		margin: 5px auto;
		margin-left: 2%;
	}
}



 .signup-popup, .thank-you {
	width: 90%;
	min-height: 300px;
	background-color: white;
	z-index: 1001;
	border-radius: 5px;
	padding: 20px;

}

.mailchimp-input{
	width: 100%;
	height: 40px;
	border: none;
	color: #cb9b57;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(1,9,22, 1.0);
	margin-top: 10px;
	font-family: 'Brandon';
}

.mailchimp-input::-webkit-input-placeholder{
	color: rgba(203,155,87, 0.6);
}

.pop-up-title{
	font-size: 36px;
	text-transform: uppercase;
}

.indicates-required{
	color: #4a4a4a;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 14px;
}

.pop-up-logo{
	margin: 0 auto;
	text-align: center;
}
.subscribe-button{
	background-color: #cb9b57;
	color: white;
	border: none;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;

}

.cancel{
	text-align: center;
	color: #010916;
	font-family: 'Brandon';
	margin-top: 10px;
}

.cancel:hover{
	text-decoration: underline;
	cursor: pointer;
}


.mobile-navbar{
	display: none !important;
}

.box{
	border: 1px solid white;
}

.topbar{
	height: 50px;
	width: 100%;
	background-color: #010916;
	border-bottom: 1px solid #cb9b57;
	color: #cb9b57;
}

.topbar p{
	font-size: 12px;
	line-height: 50px;
	margin-left: 40px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	display: inline-block;
}

.topbar p.contact-btn{
	border: 1px solid #cb9b57;
	border-radius: 4px;
	float: right;
	margin-top: 9px;
	margin-right: 20px;
	line-height: normal;
	padding: 8px 15px;
}

.topbar p.contact-btn:hover{
	cursor: pointer;
	background-color: #cb9b57;
	color: white;	
}

.navbar{
	width: 100%;
	background-color: #010916;
	color: white;
	text-align: center;
	font-family: 'Brandon', sans-serif;
}

.navbar ul{
	padding: 20px 0px;

}

.navbar ul li{
	display: inline-block;
	height: 108px;
    min-width: 150px;
    vertical-align: middle;
}


.navbar ul li a{
	color: white;
	text-decoration: none;
	padding: 20px 0px;
	transition: all 0.1s;
	line-height: 108px;
	font-size: 12px;
	letter-spacing: 1.8px;
}

.navbar ul li a:hover{
	border-bottom: 3px solid #cb9b57;
}

.navbar-fixed{
	position: fixed;
	top: 0;
	z-index: 100;
	transition: all 2s;
}

.navbar-fixed .main-logo{
	width: 100px;
}

.navbar-fixed ul li{
	height: 70px;
}

.navbar ul li a{
	line-height: 70px;
	text-transform: uppercase;
}

.main-logo{
	width: 150px;
	margin: 0px;
	transition: all 0.5s;
}


.jumbotron{
	background-color: #010916;
	color: #cb9b57;
	box-sizing: border-box;
	padding: 0px ;
}

.jumbo-frame{
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	text-align: center;
}

.jumbo-img{
	max-width: 400px;
	width: 90%;
	text-align: center;
	display: inline-block;
	/*border: 1px solid white;*/

}

.text-box{
	box-sizing: border-box;
	max-width: 400px;
	width: 90%;
	padding: 15px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #010916;
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
	/*border: 1px solid white;*/
}

.text-box p {
	font-size: 24px;
	color: #cb9b57;
}


.btn-gold{
	height: 50px;
	border: 2px solid #cb9b57;
	/*background-color: #cb9b57;*/
	color: white;
	font-size: 16px;
	line-height: 50px;
	margin: 30px auto;
	font-weight: lighter;
	text-align: center;
	border-radius: 25px;
	transition: all 0.5s;
}

.btn-gold2{
	/*height: 50px;*/
	border: 2px solid #cb9b57;
	margin-top: 20px;
	text-align: left;
	transition: all 0.5s;
	padding: 15px;
	border-radius: 5px;
}

.btn-gold2 p{
	font-size: 16px;
	color: white;
	font-weight: lighter;
	color: #cb9b57;
}

.btn-gold2 p.btn-title{
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
}

.btn-gold2 span.btn-kcal{
	border: 1px solid #cb9b57;
	font-size: 12px;
	line-height: 22px;
	padding: 3px;
	margin: 0px;vertical-align: top;
}

.btn-gold2  p.btn-desc {
	font-size: 12px;
	margin-top: 5px;
	color: #ECE1D2;
}

.btn-gold2  span.btn-price {
	font-size: 18px;
	color: white;
}

.btn-gold:hover{
	background-color: #cb9b57;
	color: white;
	cursor: pointer;
}

.btn-gold2:hover{
	background-color: #cb9b57;
	color: white;
	cursor: pointer;
}

.btn-gold2:hover p.btn-title{
	color: white;
}

.btn-gold2:hover span.btn-kcal{
	border: 1px solid white;
}

.btn-gold2:hover  p.btn-desc {
	color: #5E3908;
}

.btn-gold2:hover  span.btn-price {
	color: #5E3908;
}

.btn-gold:first-child{
	margin-top: 50px;
}

.about{
	height: 500px;
	width: 100%;
	background-image: url('image/about_background.png');
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.about-box{
	text-align: center;
	width: 60%;
	max-width: 800px;
	padding-top: 120px;
	padding-left: 80px;
}

p.about-title{
	font-size: 36px;
}

p.about-text{
	font-size: 18px;
	margin-top: 30px;
	line-height: 22px;
}

.about-img{
	height: 450px;
	position: absolute;
	bottom: 5px;
	right: -100px;
}

.ingredient{
	text-align: center;
	padding: 70px 50px;
}

p.section-title{
	font-size: 36px;
	font-weight: bold;
}

p.section-description {
	font-size: 16px;
	margin-top: 10px;
	font-weight: 200;
}

.ingredient-box{
	width: 100%;
	max-width: 1000px;
	min-height: 550px;
	position: relative;
	margin: 20px auto;
}

.ingredients-details{
	width: 200px;
	display: inline-block;
}

.food-box{
	display: inline-block;
	position: absolute;
}

.food-img1{
	display: none;
}

.oats-box{
	top: 0;
	left: 0;
}

.oats-img{
	width: 350px;
	margin-left: -100px;
}

.flaxseed-box{
	top: 0;
	right: 0;
}

.flaxseed-img{
	width: 150px;
}

.flaxseed{
	vertical-align: top;
}

.almond-box{
	bottom: 0;
	left: 100px;
}

.almond{
	vertical-align: top;
	margin-top: 200px;
}

.almond-img{
	width: 200px;
	margin-left: -50px;
}

.whey-box{
	top: 30%;
	left: 45%;
}

.whey{
	display: block;
}
.whey-img{
	width: 200px;
	margin-left: 100px;
	margin-top:-40px;
}

.sugar-box {
	bottom: 0;
	right: 0;
}

.sugar-img{
	width: 150px;
}



.ingredient-name{
	font-size: 28px;
}

.ingredient-description{
	font-size: 14px;
	margin-top: 5px;
}

.title-box{
	background-color: #010916;
	padding: 20px;
	display: inline-block;
}

.work{
	background-color: #010916;
	color: white;
	padding: 70px 50px;
	text-align: center;
}

.work-box{
	border: 5px solid #cb9b57;
	padding: 50px 10px;
	margin-top: -50px;
}

.work-box .step{
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	box-sizing: border-box;
	padding: 0px 10px;
	margin-left: 15px;
}

.step:first-child{
	margin-left: 0px;
}

.step1 img{
	margin-left: 30px;
}

.step2 img{
	margin-left: 40px;
}

.work-box .step img{
	height: 200px;
}

.work-box .step3 img{
	height: 120px;
}

.step-title{
	font-size: 24px;
	margin-top: 10px;
}

.step-description{
	font-size: 16px;
	margin-top: 10px;
}

.work-box .step3 {
	padding-top: 40px;
}

.work-box .step3 .step-title{
	margin-top: 30px;
}

.nutrition-box{
	width: 330px;
	padding: 20px;
	color: #cb9b57;
	border: 7px solid #cb9b57;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.nutrition-header{
	border-bottom: 7px solid #cb9b57;
	padding-bottom: 10px;
}

.nutrition-title{
	font-size: 36px;
	font-weight: bold;
}

.nutrition-description{
	font-size: 18px;
}

.nutrition-description-bold{
	font-weight: bold;
	margin-bottom: 5px
}

.nutrition-fact{
	padding: 5px 0px;
}

.nutrition-subtitle{
	padding: 10px 0px;
	border-bottom: 3px solid #cb9b57;
}

.nutrition-fact-subtitle{
	text-align: right;
	padding: 0px 0px;
	font-size: 14px;
}

.nutrition-fact p{
	display: inline;
	font-size: 14px;
}

p.nutrition-type{
	font-weight: bold;
}

p.nutrition-value{
	float: right;
}

.nutrition-body{
	padding-bottom: 10px;
	border-bottom: 5px solid #cb9b57;
}

.nutrition-footer{
	padding-top: 10px;
}

.nutrition-alert{
	font-size: 14px;
	margin-bottom: 8px;
}

.nutrition-subtype{
	margin-left: 20px;
	font-weight: 200 !important;
}

.shaker{
	display: inline-block;
	width: 400px;
	position: relative;
}

.shaker-image{
	height: 420px;
	margin: 0px;
	margin-right: 90px;

}

.macro{
	padding: 50px;
	margin: 0px auto;
	text-align: center;
}

.macro-box{
	margin-top: 50px
}

.macro-percentage{
	position: absolute;
	text-align: center;
	color: #cb9b57;
}

.percent-50{
	position: absolute;
	bottom: 200px;
	right: 40px;
}

.percent-30{
	bottom: 105px;
	right: 40px;
}

.percent-20{
	bottom: 33px;
	right: 40px;
}

.macro-percentage-value{
	font-size: 28px;
	font-weight: bold;
}

.macro-food-name{
	font-size: 18px;
}

.purchase{
	width: 80%;
	max-width: 1000px;
	padding: 50px;
	background: #FFFFFF;
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
	margin: 0px auto;
	text-align: center;
	z-index: 10000000px;
	position: relative;

}

.trial, .sell_pack{
	width: 100%;
}

.trial {
	margin-top: 50px;
}

.sell_pack{
	margin-top: 30px;
}

.sell_pack .purchase-img{
}

.purchase-img{
	min-width: 400px;
	width: 50%;
	float: left;
}

.purchase-detail{
	float: left;
	width: 45%;
	text-align: left;
	box-sizing: border-box;
	padding: 10px;
	padding-left: 20px;
}

.purchase-title{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 15px;
}

.purchase-description{
	font-size: 14px;
	line-height: 16px;

}

.product-detail{
	font-style: italic;
	font-size: 12px;
	color: rgba(20,35,50,0.56);
}

.btn-purchase{
	margin: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	width: 80%;
	height: 50px;
	line-height: 50px;
	background-color: #cb9b57;
	color: white;
	width: 100%;
}

.btn-purchase:hover{
	border: 2px solid #b8863f;
	background-color: #b8863f;
}

.contact{
	width: 100%;
	padding: 20px;
	background-color: #010916;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	box-sizing: border-box;
}

.contact .contact-info a{
	text-decoration: none;
}


.contact p.section-title{
	font-size: 36px;
	font-weight: bold;
}

.contact p.section-description {
	font-size: 16px;
	margin-top: 10px;
	font-weight: 200;
}

.contact .contact-info{
	width: 80%;
	max-width: 1100px;
	margin: 50px auto;
}

.contact-detail p i.fa{
	font-size: 24px;
	color: #cb9b57;
}

.contact-detail{
	width: 30%;
	min-width: 300px;
	min-height: 100px;
	margin: 0px auto;
	padding: 10px 10px;
	padding-bottom: 15px;
	/*border-radius: 3px;*/
	box-sizing: border-box;
	word-wrap: break-word; 
	transition: all 0.5s;
	border-bottom: 1px solid #cb9b57;
	color: #ffffff;
}
.contact-detail:hover{
	cursor: pointer;
	transform: translateY(-5px);
}

.contact-us-btn{
	padding: 10px 12px;
	border-radius: 30px;
	background-color:#cb9b57;
	border: 1px solid #cb9b57;
	position: fixed;
	bottom: 25px;
	right: 20px;
	z-index: 99999;
	color: white;
	transition: all 0.5s;
	transform: translateX(200%);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.contact-us-btn:hover{
	background-color:#ffffff;
	border: 1px solid #cb9b57;
	color: #cb9b57;
	cursor: pointer;
}

.contact-us-btn p{
	font-size: 20px;
}

.footer{
	width: 100%;
	min-height: 500px;
	background-color: #010916;
	margin-top: -300px;
	padding-top: 340px;
	padding-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	color: #cb9b57;
}

.footer p{
	margin-top: 10px;
	font-size: 14px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
@media screen and (max-width: 819px){
	.text-box{
		margin-top: -5px;
		width: 100%;
	}
}

@media screen and (max-width: 1010px){


	.navbar ul li {
		width: 90px;
	}

	.navbar ul li a{
		padding: 10px 0px;
	}

	.about-img{
		height: 350px;
	}

	.whey-box{
		top: 50%;
		left: 70%;
	}

	.whey{
		display: block;
	}
	.whey-img{
		width: 200px;
		margin-left: -300px;
		margin-top: -200px;
	}
}

@media screen and (max-width: 900px){
	.navbar{
		width: 100%;
		background-color: #010916;
		color: white;
		text-align: center;
	}

	.navbar ul li{
	    min-width: 110px;
	}

	.navbar ul li#icon-list{
		width: 150px !important;
	}

	.navbar ul li a{
		padding: 5px 0px;
	}


	.about-box{
		text-align: center;
		width: 90%;
		padding-top: 120px;
		padding-left: 0px;
		margin: 0 auto;
		z-index: 1000;
		position: relative;
	}

	.about{
		height: 400px;
	}

	.about-img{
		display: none;
	}

	.food-box{
		position: relative;
		margin-top: 30px;
		margin-left: 20px;
		box-sizing: border-box;
		padding:10px;
		min-width: 250px;
		border-radius: 5px;
	}

	.food-img1{
		display: inline-block;
	}

	.food-img2{
		display: none;
	}

	.ingredient-box{
		width: 100%;
		min-height: auto;
		position: relative;

	}

	.ingredients-details{
		width: 200px;
		display: block;
		margin: 0 auto;
	}


	.oats-box{
		text-align: center;
	}

	.oats-img{
		height: 200px;
		width: auto;
		margin-left: 0px;
	}

	.flaxseed-box{
	}

	.flaxseed-img{
		height: 200px;
		width: auto;
	}

	.flaxseed{
		vertical-align: middle;
	}

	.almond-box{
		bottom: 0;
		left: 0px;
	}

	.almond{
		margin-top: 0px;
	}

	.almond-img{
		height: 200px;
		width: auto;
		margin-left: 0px;
	}

	.whey-box{
		top: 0%;
		left: 0%;
	}

	.whey{
		display: block;
	}
	.whey-img{
		height: 200px;
		width: auto;
		margin-left: 0px;
		margin-top:0px;
	}

	.sugar-box {
		bottom: 0;
		right: 0;
	}

	.sugar-img{
		height: 200px;
		width: auto;
	}

	.nutrition-box{
		margin-top: 50px;
	}

	.purchase-img{
		min-width: auto;
	}

	.purchase{
		width: 85%;
		padding: 20px;
	}

	.purchase-img{
		min-width: auto;
		width: 50%;
		float: left;
	}

	.contact .contact-info{
		width: 90%;
		margin: 50px auto;
	}

}

@media screen and (max-width: 658px){


	.topbar{
		display: none;
	}

	.purchase-img{
		min-width: auto;
		width: 100%;
	}


	.standard-pack, .advance-pack{
		margin: 10px auto;
	}

	.standard-pack{
		margin-top: 20px;
	}

	.purchase-img{
		min-width: auto;
		width: 100%;
		float: left;
	}

	.purchase-detail{
		width: 100%;
	}

	.nutrition-box{
		width: 250px;
	}

	.macro{
		padding: 0px;
		margin: 0px auto;
		text-align: center;
	}

	.shaker{
		width: 250px;
		padding: 20px;
	}

	.shaker-image{
		height: 300px;
		margin-right: 50px;
	}

	.percent-50{
		position: absolute;
		bottom: 160px;
		right: 0px;
	}

	.percent-30{
		bottom: 95px;
		right: 0px;
	}

	.percent-20{
		bottom: 40px;
		right: 0px;
	}

	.macro-percentage-value{
		font-size: 24px;
		font-weight: bold;
	}

	.macro-food-name{
		font-size: 14px;
	}

	.about-img{
		display: none;
	}

	.about{
		padding-bottom: 100px;
	}

	.desktop-navbar{
		display: none !important;
	}

	.mobile-navbar{
		display: block !important;
	}

	.work{
		padding: 70px 0px;
	}

	.work-box{
		width: 85%;
		margin: -50px auto;
	}

	.work-box .step{
		width: 250px;
		margin: 15px 0px;
	}

	.btn-gold{
		font-size: 12px;
	}

	.ingredient, .macro{
		padding: 70px 0px;
	}

	.ingredient-box{
		margin-top: 40px;
	}

	.food-box{
		margin: 20px auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.btn-purchase{
		width: 100%;
	}

	.product-detail{
		text-align: center;
	}

	.contact .contact-info{
		width: 80%;
	}

	.contact-detail{
		width: 100%;
		margin-right: 0%;
		float: center;
		margin-top: 10px;
	}

	.contact-detail:first-child{
		margin-left: 0%;
	}

}